.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #ebebeb;
}

#submitFilterButton,
#exportItemsButton {
  display: flex;
  float: left;
}

#brand {
  font-weight: 900;
  color: #2e2e2e !important;
}
